@import "config";

/*-- BUTTONS (tag <button>) --*/
.btn {
  border: 0;
  @extend .transitioned;
  position: relative;
  text-align: center;
  padding: 0 $btn_lateral_padding;
  border-radius: $btn_std_border_radius;
  -moz-border-radius: $btn_std_border_radius;
  -webkit-border-radius: $btn_std_border_radius;
  &:hover{
    background-color: $btn_std_hover_color;
  }
  &.big {
    min-width: $btn_big_min_width;
    height: $btn_big_height;
  }
  &.medium {
    min-width: $btn_medium_min_width;
    height: $btn_medium_height;
  }
  &.small {
    min-width: $btn_small_min_width;
    height: $btn_small_height;
  }
  &.w100{
    min-width: 100%;
  }
}


/*-- ADJUST TO APPLY TO <a> --*/
a.btn{
  display: inline-block;
  &.big {line-height: $btn_big_height;}
  &.medium {line-height: $btn_medium_height;}
  &.small {line-height: $btn_small_height;}
}
