@import "bourbon/bourbon";
@import "config";

/*-- THEME COLORS --*/
@mixin colorset($name, $color) {
  .#{$name} {color: $color;}
  .bg_#{$name} {background-color: $color;}
  .bc_#{$name} {border-color: $color;}
}

//GRAYSCALE
$white: #FFFFFF;
@include colorset("white", $white);
$black: #000000;
@include colorset("black", $black);
$grey: #999999;
@include colorset("grey", $grey);
$lgrey: #CCCCCC;
@include colorset("lgrey", $lgrey);
$dgrey: #333333;
@include colorset("dgrey", $dgrey);
$dgrey2: #666666;
@include colorset("dgrey2", $dgrey2);

//ALERTS
$al_succes: #92c254;
@include colorset("al_succes", $al_succes);
$al_error: #d12205;
@include colorset("al_error", $al_error);
$al_warning: #fbbe05;
@include colorset("al_warning", $al_warning);

//PROJECT COLORS

