@import "bourbon/bourbon";
@import "config";

/*-- THEME COLORS --*/
//GRAYSCALE
$white:#ffffff;
.white{color: $white;}
.bg_white {background-color: $white;}

$black:#000000;
.black{color: $black;}
.bg_black {background-color: $black;}

$grey: #999999;
.grey{color: $grey;}
.bg_grey {background-color: $grey;}

$lgrey: #cccccc;
.lgrey{color: $lgrey;}
.bg_lgrey {background-color: $lgrey;}

$dgrey: #333333;
.dgrey{color: $dgrey;}
.bg_dgrey {background-color: $dgrey;}

$dgrey2: #666666;
.dgrey2{color: $dgrey2;}
.bg_dgrey2 {background-color: $dgrey2;}

//ALERTS
$al_green: #92c254;
.al_green{color: $al_green;}
.bg_al_green{background-color: $al_green;}

$al_red: #d12205;
.al_red{color: $al_red;}
.bg_al_red{background-color: $al_red;}

$al_yellow: #fbbe05;
.al_yellow{color: $al_yellow;}
.bg_al_yellow{background-color: $al_yellow;}

//PROJECT COLORS