/*-- ENABLES --*/
//$enable_flexbox: false; Always enabled
$enable_line_height: false;

/*-- STRUCTURE --*/
$body_bg: #f9f9f9;
$wrapper_width: 960px;
$footer_height: 100px;
$footer_bg: #333;

/*-- GRID SYSTEM --*/
$col_number: 12;
$gutter: 10px;

/*-- BREAKPOINTS --*/
/*PREFIXES*/
$col_prefix: col_;
$xl_prefix: xl_;
$lg_prefix: lg_;
$md_prefix: md_;
$sm_prefix: sm_;
$xs_prefix: xs_;

//XTRA LARGE
$xl_from: 1681px;
//LARGE
$lg_to: 1680px;
$lg_from: 1281px;
//TABLET LANDSCAPE
$md_to: 1280px;
$md_from: 1024px;
//TABLET PORTRAIT
$sm_to: 1023px;
$sm_from: 768px;
//MOBILE
$xs_to: 767px;
$xs_from: 0px;


/*-- TYPOGRAPHY --*/
$primary_font_family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$primary_font_color: #333;
$secondary_font_family: Helvetica, Arial, sans-serif;
$max_font_size: 50;
$max_line_height: $max_font_size + 30;
$standard_font_size: 13px;

/*-- FORM ITEMS --*/
$form_items_radius: 4px;
$form_items_input_height: 32px;
$form_items_input_padding: 0 10px;
$form_items_border: 1px solid #ddd;
$form_items_bg: #FFF;
//TEXTAREA
$form_items_txtarea_height: 160px;
$form_items_txtarea_padding: 10px;

/*-- BUTTONS --*/
$btn_lateral_padding: 10px;
$btn_std_border_radius: 4px;
// HOVER
$btn_std_hover_color: #999;
// BIG SIZE BUTTON
$btn_big_min_width: 200px;
$btn_big_height: 46px;
// MEDIUM SIZE BUTTON
$btn_medium_min_width: 150px;
$btn_medium_height: 25px;
// SMALL SIZE BUTTON
$btn_small_min_width: 75px;
$btn_small_height: 20px;