@import "config";

/*-- FORM ITEMS --*/
select, input[type=text], input[type=password],input[type=url],input[type=tel],input[type=number],input[type=color],input[type=email] {//NOT input alone --> to avoid checkbox & radio
  height: $form_items_input_height;
  width: 100%;
  border: $form_items_border;
  padding: $form_items_input_padding;
  background-color: $form_items_bg;
  border-radius: $form_items_radius;
  font-size: $standard_font_size;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    //-webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-transition-delay: 9999s !important;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out !important;
  }
}


textarea {
  height: $form_items_txtarea_height;
  width: 100%;
  border: $form_items_border;
  padding: $form_items_txtarea_padding;
  resize: none;
  border-radius: $form_items_radius;
  font-size: $standard_font_size;
}

