@import "config";

/*-- CUSTOM GRID SYSTEM --*/

.gutter{padding-left:  $gutter; padding-right: $gutter;}
[class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"]{
  &.halfgutter{padding: 0 $gutter/2; min-height: 1px;}
  &.nogutter  {padding: 0; min-height: 1px;}
  &.vmid {vertical-align: middle;}
  &.vbot {vertical-align: bottom;}
  min-height: 1px;
  padding-left:  $gutter;
  padding-right: $gutter;
  display: inline-block;
  vertical-align: top;
}

.row{
  width: 100%;
  clear: both;
  &:after, &:before{
    clear: both;
  }
  &.nogutter{
    padding-left:  $gutter; padding-right: $gutter;
    [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"] {padding: 0;min-height: 1px;}
  }
  &.halfgutter{
    padding-left:  $gutter/2; padding-right: $gutter /2;
    [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"] {padding: 0 $gutter/2; min-height: 1px;}
  }
  @if $enable_flexbox {
    /*-- FLEXBOX GRID --*/
    &.flex{
      width: 100%;
      @include display(flex);
      @include flex-wrap(wrap);
      &.flex_{
        &direction_row{@include flex-direction(row);}
        &direction_column{@include flex-direction(column);}
        &wrap{@include flex-wrap(wrap);}
        &nowrap{@include flex-wrap(nowrap);}
        &justify_start{@include justify-content(flex-start);}
        &justify_end{@include justify-content(flex-end);}
        &justify_center{@include justify-content(center);}
        &justify_between{@include justify-content(space-between);}
        &justify_around{@include justify-content(space-around);}
        &align_start{@include align-items(flex-start);}
        &align_end{@include align-items(flex-end);}
        &align_center{@include align-items(center);}
        &align_baseline{@include align-items(baseline);}
        &align_stretch{@include align-items(stretch);}
      }

      [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"]{
        @for $i from 1 through $col_number / 2 {
          &.flex_order#{$i}{@include order($i);}
        }
        &.flex_self_{
          &start{@include align-self(flex-start);}
          &end{@include align-self(flex-end);}
          &center{@include align-self(center);}
          &baseline{@include align-self(baseline);}
          &stretch{@include align-self(stretch);}
        }

        display: inherit;
        > *{
          width: 100%;
        }
      }
    }
    &.noflex {
      [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"] {
        display: inline-block;
      }
    }
  }
}

@media (min-width: $md_from) and (max-width: $md_to) {
  .row{
    @if $enable_flexbox {
      /*-- FLEXBOX GRID --*/
      &.#{$md_prefix}flex{
        width: 100%;
        @include display(flex);
        @include flex-wrap(wrap);
        &.#{$md_prefix}flex_{
          &direction_row{@include flex-direction(row);}
          &direction_column{@include flex-direction(column);}
          &wrap{@include flex-wrap(wrap);}
          &nowrap{@include flex-wrap(nowrap);}
          &justify_start{@include justify-content(flex-start);}
          &justify_end{@include justify-content(flex-end);}
          &justify_center{@include justify-content(center);}
          &justify_between{@include justify-content(space-between);}
          &justify_around{@include justify-content(space-around);}
          &align_start{@include align-items(flex-start);}
          &align_end{@include align-items(flex-end);}
          &align_center{@include align-items(center);}
          &align_baseline{@include align-items(baseline);}
          &align_stretch{@include align-items(stretch);}
        }
        [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"]{
          @for $i from 1 through $col_number / 2 {
            &.#{$md_prefix}flex_order#{$i}{@include order($i);}
          }
          &.#{$md_prefix}flex_self_{
            &start{@include align-self(flex-start);}
            &end{@include align-self(flex-end);}
            &center{@include align-self(center);}
            &baseline{@include align-self(baseline);}
            &stretch{@include align-self(stretch);}
          }
          display: inherit;
          > *{
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: $sm_from) and (max-width: $sm_to) {
  .row{
    @if $enable_flexbox {
      /*-- FLEXBOX GRID --*/
      &.#{$sm_prefix}flex{
        width: 100%;
        @include display(flex);
        @include flex-wrap(wrap);
        &.#{$sm_prefix}flex_{
          &direction_row{@include flex-direction(row);}
          &direction_column{@include flex-direction(column);}
          &wrap{@include flex-wrap(wrap);}
          &nowrap{@include flex-wrap(nowrap);}
          &justify_start{@include justify-content(flex-start);}
          &justify_end{@include justify-content(flex-end);}
          &justify_center{@include justify-content(center);}
          &justify_between{@include justify-content(space-between);}
          &justify_around{@include justify-content(space-around);}
          &align_start{@include align-items(flex-start);}
          &align_end{@include align-items(flex-end);}
          &align_center{@include align-items(center);}
          &align_baseline{@include align-items(baseline);}
          &align_stretch{@include align-items(stretch);}
        }
        [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"]{
          @for $i from 1 through $col_number / 2 {
            &.#{$sm_prefix}flex_order#{$i}{@include order($i);}
          }
          &.#{$sm_prefix}flex_self_{
            &start{@include align-self(flex-start);}
            &end{@include align-self(flex-end);}
            &center{@include align-self(center);}
            &baseline{@include align-self(baseline);}
            &stretch{@include align-self(stretch);}
          }
          display: inherit;
          > *{
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: $xs_from) and (max-width: $xs_to) {
  .row{
    @if $enable_flexbox {
      /*-- FLEXBOX GRID --*/
      &.#{$xs_prefix}flex{
        width: 100%;
        @include display(flex);
        @include flex-wrap(wrap);
        &.#{$xs_prefix}flex_{
          &direction_row{@include flex-direction(row);}
          &direction_column{@include flex-direction(column);}
          &wrap{@include flex-wrap(wrap);}
          &nowrap{@include flex-wrap(nowrap);}
          &justify_start{@include justify-content(flex-start);}
          &justify_end{@include justify-content(flex-end);}
          &justify_center{@include justify-content(center);}
          &justify_between{@include justify-content(space-between);}
          &justify_around{@include justify-content(space-around);}
          &align_start{@include align-items(flex-start);}
          &align_end{@include align-items(flex-end);}
          &align_center{@include align-items(center);}
          &align_baseline{@include align-items(baseline);}
          &align_stretch{@include align-items(stretch);}
        }
        [class^="#{$lg_prefix}"], [class*=" #{$lg_prefix}"]{
          @for $i from 1 through $col_number / 2 {
            &.#{$xs_prefix}flex_order#{$i}{@include order($i);}
          }
          &.#{$xs_prefix}flex_self_{
            &start{@include align-self(flex-start);}
            &end{@include align-self(flex-end);}
            &center{@include align-self(center);}
            &baseline{@include align-self(baseline);}
            &stretch{@include align-self(stretch);}
          }
          display: inherit;
          > *{
            width: 100%;
          }
        }
      }
    }
  }
}


/*-- GRID MAKER --*/

@for $i from 1 through $col_number {
  /*-- GENERIC COLUMN --*/
  .#{$lg_prefix}#{$i} {width: 100% / $col_number * $i;}
  .#{$lg_prefix}off#{$i} {margin-left: 100% / $col_number * $i;}
}

/*-- MD COLUMN --*/
@media (min-width: $md_from) and (max-width: $md_to) {
  @for $i from 1 through $col_number {
    .#{$md_prefix}#{$i} {width: 100% / $col_number * $i;}
  }
  @for $i from 0 through $col_number - 1 {
    .#{$md_prefix}off#{$i} {margin-left: 100% / $col_number * $i;}
  }
}
/*-- SM COLUMN --*/
@media (min-width: $sm_from) and (max-width: $sm_to) {
  @for $i from 1 through $col_number {
    .#{$sm_prefix}#{$i} {width: 100% / $col_number * $i;}
  }
  @for $i from 0 through $col_number - 1 {
    .#{$sm_prefix}off#{$i} {margin-left: 100% / $col_number * $i;}
  }
}
/*-- XS COLUMN --*/
@media (min-width: $xs_from) and (max-width: $xs_to) {
  @for $i from 1 through $col_number {
    .#{$xs_prefix}#{$i} {width: 100% / $col_number * $i;}
  }
  @for $i from 0 through $col_number - 1 {
    .#{$xs_prefix}off#{$i} {margin-left: 100% / $col_number * $i;}
  }
}