@import "bourbon/bourbon";
@import "config";
/* QUERIES */

@media (min-width: $sm_to) {
  /* DISPLAYS */
  .#{$sm_prefix}show {display: none;}
  .#{$sm_prefix}none {display: block;}
  .#{$sm_prefix}none_inblock {display: inline-block;}
  .#{$xs_prefix}show {display: none;}
  .#{$xs_prefix}show_inblock {display: none;}
  .#{$xs_prefix}none {display: block;}
  .#{$xs_prefix}none_inblock {display: inline-block;}
  .#{$xs_prefix}#{$sm_prefix}show{display: none !important;}
  .#{$xs_prefix}#{$sm_prefix}none_inblock {display: inline-block !important;}
  .#{$xs_prefix}#{$sm_prefix}show_inblock {display: none !important;}
  .#{$xs_prefix}#{$sm_prefix}show_inline {display: none !important;}
}

@media (min-width: $xs_from) and (max-width: $sm_to) {
  .#{$xs_prefix}#{$sm_prefix}none_inblock {display: none !important;}
  .#{$xs_prefix}#{$sm_prefix}show_inblock {display: inline-block !important;}
  .#{$xs_prefix}#{$sm_prefix}show_inline {display: inline !important;}
}

@media (min-width: $sm_from) and (max-width: $sm_to) {
  /* DISPLAYS */
  .#{$sm_prefix}show {display: block;}
  .#{$sm_prefix}none {display: none;}
  .#{$sm_prefix}none_inblock {display: none;}
  .#{$xs_prefix}show {display: none;}
  .#{$xs_prefix}show_inblock {display: none;}
  .#{$xs_prefix}none {display: block;}
  .#{$xs_prefix}none_inblock {display: inline-block;}
  .#{$xs_prefix}#{$sm_prefix}show{display: block !important;}

  /* ALIGNMENT */
  .#{$sm_prefix}al_center {text-align: center;}
  .#{$sm_prefix}al_left {text-align: left;}
  .#{$sm_prefix}al_right{text-align: right;}

  .#{$sm_prefix}vtop{vertical-align: top !important;}
  .#{$sm_prefix}vmid{vertical-align: middle !important;}
  .#{$sm_prefix}vbot{vertical-align: bottom !important;}


  /* ADJUSTS */
  .#{$sm_prefix}mgbot50 {margin-bottom: 50px;}
  .#{$sm_prefix}mgbot100 {margin-bottom: 100px;}
  .#{$sm_prefix}mgbot20 {margin-bottom: 20px;}
  .#{$sm_prefix}mgbot10 {margin-bottom: 10px;}

  /* GUTTER */
  .#{$sm_prefix}gutter{
    padding: 0 10px !important;
  }
  .#{$sm_prefix}nogutter{
    padding: 0 !important;
  }
}

@media (min-width: $xs_from) and (max-width: $xs_to) {
  /* DISPLAYS */
  .#{$sm_prefix}show {display: block;}
  .#{$sm_prefix}none {display: none;}
  .#{$sm_prefix}none_inblock {display: none;}
  .#{$xs_prefix}show {display: block;}
  .#{$xs_prefix}show_inblock {display: inline-block;}
  .#{$xs_prefix}show_inline {display: inline;}
  .#{$xs_prefix}none {display: none;}
  .#{$xs_prefix}none_inblock {display: none;}
  .#{$xs_prefix}#{$sm_prefix}show{display: inline-block !important;}

  /* ALIGNMENT */
  .#{$xs_prefix}al_center {text-align: center;}
  .#{$xs_prefix}al_left {text-align: left;}
  .#{$xs_prefix}al_right {text-align: right;}

  /* ADJUSTS */
  .#{$xs_prefix}mgbot50 {margin-bottom: 50px;}
  .#{$xs_prefix}mgbot40 {margin-bottom: 40px;}
  .#{$xs_prefix}mgbot20 {margin-bottom: 20px;}
  .#{$xs_prefix}mgbot10 {margin-bottom: 10px;}
  .#{$xs_prefix}mgright5 {margin-bottom: 5px;}


  /* GUTTER */
  .#{$xs_prefix}gutter{
    padding: 0 10px !important;
  }
  .#{$xs_prefix}nogutter{
    padding: 0 !important;
  }
}