@import "config";
/* QUERIES */

@media (min-width: $xl_from){
  /* DISPLAYS */
  .#{$xl_prefix}show {display: block;}
  .#{$xl_prefix}none {display: none;}
  .#{$xl_prefix}show_inblock {display: inline-block;}
}

@media (min-width: $lg_from) and (max-width: $lg_to) {
  /* DISPLAYS */
  .#{$lg_prefix}show {display: block;}
  .#{$lg_prefix}none {display: none;}
  .#{$lg_prefix}show_inblock {display: inline-block;}

  /* ALIGNMENT */
  .#{$lg_prefix}al_center {text-align: center;}
  .#{$lg_prefix}al_left {text-align: left;}
  .#{$lg_prefix}al_right{text-align: right;}

  .#{$lg_prefix}vtop{vertical-align: top !important;}
  .#{$lg_prefix}vmid{vertical-align: middle !important;}
  .#{$lg_prefix}vbot{vertical-align: bottom !important;}

  /* ADJUSTS */
  .#{$lg_prefix}mgbot100 {margin-bottom: 100px;}
  .#{$lg_prefix}mgbot50 {margin-bottom: 50px;}
  .#{$lg_prefix}mgbot20 {margin-bottom: 20px;}
  .#{$lg_prefix}mgbot10 {margin-bottom: 10px;}

  /* GUTTER */
  .#{$lg_prefix}gutter{padding: 0 10px !important;}
  .#{$lg_prefix}nogutter{padding: 0 !important;}
}

@media (min-width: $md_from) and (max-width: $md_to) {
  /* DISPLAYS */
  .#{$md_prefix}show {display: block;}
  .#{$md_prefix}none {display: none;}
  .#{$md_prefix}show_inblock {display: inline-block;}

  /* ALIGNMENT */
  .#{$md_prefix}al_center {text-align: center;}
  .#{$md_prefix}al_left {text-align: left;}
  .#{$md_prefix}al_right{text-align: right;}

  .#{$md_prefix}vtop{vertical-align: top !important;}
  .#{$md_prefix}vmid{vertical-align: middle !important;}
  .#{$md_prefix}vbot{vertical-align: bottom !important;}

  /* ADJUSTS */
  .#{$md_prefix}mgbot100 {margin-bottom: 100px;}
  .#{$md_prefix}mgbot50 {margin-bottom: 50px;}
  .#{$md_prefix}mgbot20 {margin-bottom: 20px;}
  .#{$md_prefix}mgbot10 {margin-bottom: 10px;}

  /* GUTTER */
  .#{$md_prefix}gutter{padding: 0 10px !important;}
  .#{$md_prefix}nogutter{padding: 0 !important;}
}

@media (min-width: $sm_from) and (max-width: $sm_to) {
  /* DISPLAYS */
  .#{$sm_prefix}show {display: block;}
  .#{$sm_prefix}none {display: none;}
  .#{$sm_prefix}show_inblock {display: inline-block;}

  /* ALIGNMENT */
  .#{$sm_prefix}al_center {text-align: center;}
  .#{$sm_prefix}al_left {text-align: left;}
  .#{$sm_prefix}al_right{text-align: right;}

  .#{$sm_prefix}vtop{vertical-align: top !important;}
  .#{$sm_prefix}vmid{vertical-align: middle !important;}
  .#{$sm_prefix}vbot{vertical-align: bottom !important;}

  /* ADJUSTS */
  .#{$sm_prefix}mgbot100 {margin-bottom: 100px;}
  .#{$sm_prefix}mgbot50 {margin-bottom: 50px;}
  .#{$sm_prefix}mgbot20 {margin-bottom: 20px;}
  .#{$sm_prefix}mgbot10 {margin-bottom: 10px;}

  /* GUTTER */
  .#{$sm_prefix}gutter{padding: 0 10px !important;}
  .#{$sm_prefix}nogutter{padding: 0 !important;}
}

@media (min-width: $xs_from) and (max-width: $xs_to) {
  /* DISPLAYS */
  .#{$xs_prefix}show {display: block;}
  .#{$xs_prefix}none {display: none;}
  .#{$xs_prefix}show_inblock {display: inline-block;}

  /* ALIGNMENT */
  .#{$xs_prefix}al_center {text-align: center;}
  .#{$xs_prefix}al_left {text-align: left;}
  .#{$xs_prefix}al_right {text-align: right;}

  /* ADJUSTS */
  .#{$xs_prefix}mgbot100 {margin-bottom: 100px;}
  .#{$xs_prefix}mgbot50 {margin-bottom: 50px;}
  .#{$xs_prefix}mgbot20 {margin-bottom: 20px;}
  .#{$xs_prefix}mgbot10 {margin-bottom: 10px;}

  /* GUTTER */
  .#{$xs_prefix}gutter{padding: 0 10px !important;}
  .#{$xs_prefix}nogutter{padding: 0 !important;}
}