@import "bourbon/bourbon";
@import "config";

/*-- TYPE --*/
.xfont1{font-family: $primary_font_family;}
.xfont2{font-family: $secondary_font_family;}


.thin{font-weight: 100;}
.light{font-weight: 300;}
.normal{font-weight: 400;}
.semi{font-weight: 500;}
.bold{font-weight: 700;}
.xbold{font-weight: 900;}

.italic{font-style: italic;}
.upper{text-transform: uppercase;}
strong, b{font-weight: 700;}

.v_hidden{visibility: hidden;}
.nowrap{white-space: nowrap;}

.light_shadow {text-shadow: 1px 1px 2px #919191;}
.dark_shadow {text-shadow: 2px 2px 2px #000;}

.underlined{text-decoration: underline;}
.nodeco{text-decoration: none;}




/*-- FONT SIZE GENERATOR --*/
$a: 1; // == i++

@for $i from 9 through 24 {.x#{$i} {font-size: $i + px;}}
@for $i from 24 through $max_font_size {
  $a : $a + 1;
  @if ($i + $a <= $max_font_size){
    .x#{$i + $a} {font-size: $i + $a + px;}
  }
}

$a: 1; // == i++
/*-- MD FONT-SIZE --*/
@media (min-width: $md_from) and (max-width: $md_to) {
  @for $i from 9 through 24 {.md_x#{$i} {font-size: $i + px;}}
  @for $i from 24 through $max_font_size {
    $a : $a + 1;
    @if ($i + $a <= $max_font_size){
      .md_x#{$i + $a} {font-size: $i + $a + px;}
    }
  }
}
$a: 1; // == i++
/*-- SM FONT-SIZE --*/
@media (min-width: $sm_from) and (max-width: $sm_to) {
  @for $i from 9 through 24 {.sm_x#{$i} {font-size: $i + px;}}
  @for $i from 24 through $max_font_size {
    $a : $a + 1;
    @if ($i + $a <= $max_font_size){
      .sm_x#{$i + $a} {font-size: $i + $a + px;}
    }
  }
}
$a: 1; // == i++
/*-- XS FONT-SIZE --*/
@media (min-width: $xs_from) and (max-width: $xs_to) {
  @for $i from 9 through 24 {.xs_x#{$i} {font-size: $i + px;}}
  @for $i from 24 through $max_font_size {
    $a : $a + 1;
    @if ($i + $a <= $max_font_size){
      .xs_x#{$i + $a} {font-size: $i + $a + px;}
    }
  }
}


/*-- LINE HEIGHT GENERATOR --*/
@if $enable_line_height {
  $a: 1; // == i++
  @for $i from 9 through 24 {.lh#{$i} {line-height: $i + px;}}
  @for $i from 24 through $max_line_height {
    $a : $a + 1;
    @if ($i + $a <= $max_line_height){
      .lh#{$i + $a} {line-height: $i + $a + px;}
    }
  }

  /*-- MD line-height --*/
  $a: 1; // == i++
  @media (min-width: $md_from) and (max-width: $md_to) {
    @for $i from 9 through 24 {.md_lh#{$i} {line-height: $i + px;}}
    @for $i from 24 through $max_line_height {
      $a : $a + 1;
      @if ($i + $a <= $max_line_height){
        .md_lh#{$i + $a} {line-height: $i + $a + px;}
      }
    }
  }
  /*-- SM line-height --*/
  $a: 1; // == i++
  @media (min-width: $sm_from) and (max-width: $sm_to) {
    @for $i from 9 through 24 {.sm_lh#{$i} {line-height: $i + px;}}
    @for $i from 24 through $max_line_height {
      $a : $a + 1;
      @if ($i + $a <= $max_line_height){
        .sm_lh#{$i + $a} {line-height: $i + $a + px;}
      }
    }
  }
  /*-- XS line-height --*/
  $a: 1; // == i++
  @media (min-width: $xs_from) and (max-width: $xs_to) {
    @for $i from 9 through 24 {.xs_lh#{$i} {line-height: $i + px;}}
    @for $i from 24 through $max_line_height {
      $a : $a + 1;
      @if ($i + $a <= $max_line_height){
        .xs_lh#{$i + $a} {line-height: $i + $a + px;}
      }
    }
  }
}