<div class="row mtz">
    <div class="input-field">
        <input id="{{ id }}" type="{{ type }}" class=""><!-- ADD class "valid" or "invalid" to show data messages -->
        <label for="{{ id }}" data-error="error" data-success="success">{{ label }}</label>
    </div>
</div>