<div class="row mtz">
    <div class="file-field input-field">
        <div class="btn">
            <span>{{ btn_text }}</span>
            <input type="file" {% if multiple %}multiple{% endif %}>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path" type="text" placeholder="{{ placeholder }}">
        </div>
    </div>
</div>