<div class="row mtz">
    <div class="switch">
        <label>
            {{ off_label }}
            <input type="checkbox">
            <span class="lever"></span>
            {{ on_label }}
        </label>
    </div>
</div>