<ul class="slider">
    <li><figure class="resp_img"><img src="http://placehold.it/1920x800" alt=""></figure></li>
    <li><figure class="resp_img"><img src="http://placehold.it/1920x800" alt=""></figure></li>
    <li><figure class="resp_img"><img src="http://placehold.it/1920x800" alt=""></figure></li>
    <li><figure class="resp_img"><img src="http://placehold.it/1920x800" alt=""></figure></li>
</ul>
