{{ include('global/global_header.twig', {title: 'Index'}) }}

<section class="page_wrapper">
    <!-- HEADER -->
    {{ include('modules/header/main_header.twig') }}

    <!-- MAIN CONTENT -->
    <main>
        <div class="wrapper">
            <a href="page02" class="x20">GO TO PAGE 2</a>
        </div>
    </main>

    <!-- FOOTER -->
    {{ include('modules/footer/main_footer.twig') }}
</section>

{{ include('global/global_footer.twig') }}