{% extends 'global/base_global.twig' %}
{% block page_title %}Home{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="wrapper">
            <a href="page02" class="x20">GO TO PAGE 2</a>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}