{% extends 'global/base_global.twig' %}
{% block page_title %}Home{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="wrapper">
            <p class="pd50 al_center">MAIN</p>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}