{% extends 'global/base_global.twig' %}
{% block page_title %}Home{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="wrapper">
            <p class="pd50 al_center">MAIN</p>
            <div class="row">
                <div class="col_lg_6">
                    <div class="bg_lgrey pdtop30 pdbot30">
                        <div class="row expand">
                            <div class="col_lg_6">
                                <div class="bg_grey pd30"></div>
                            </div>
                            <div class="col_lg_6">
                                <div class="bg_grey pd30"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col_lg_6">
                    <div class="bg_lgrey pd30">
                        <div class="row">
                            <div class="col_lg_6">
                                <div class="bg_grey pd30"></div>
                            </div>
                            <div class="col_lg_6">
                                <div class="bg_grey pd30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}