{% extends 'global/base_global.twig' %}
{% block page_title %}Page 2{% endblock %}
{% block page_stylesheets %}{% endblock %}
{% block page_content %}
    <main>
        <div class="wrapper">
            <p class="x20 gutter">FORM ITEMS</p>
            {{ include('modules/partials/materialize/forms/demo.twig') }}
            {{ include('modules/partials/modal/modal.twig') }}
        </div>
    </main>
{% endblock %}
{% block page_scripts %}

{% endblock %}