<a class="x20 white btn big bg_al_green" href="#modal">Modal Test</a><br>

<div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <p class="x24 mgbot20">Remodal</p>
    <p class="x14 mgbot20">Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative state notation and hash tracking.</p>
    <div class="row">
        <div class="col_6 xs_12 xs_mgbot10">
            <button data-remodal-action="cancel" class="x20 white btn big bg_al_red">Cancel</button>
        </div>
        <div class="col_6 xs_12">
            <button data-remodal-action="confirm" class="x20 white btn big bg_al_green">OK</button>
        </div>
    </div>
</div>